<h1>New post</h1>

<%= render "form", post: @post %>

<br>


<div class="bg-red-300">
  <label >Hello</label>
<input type="text" value="text" placeholder="text" class="border-red-400"/>
</div>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
